body {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("../images/pattern.jpeg");
}

h2 {
  color: white;
}

p {
  font-weight:normal
}

p span {
  font-weight: bold;
  color: blue;
}

#brushes {
  background-color:mediumspringgreen;
}

#frames {
  background-color:lightcoral;
}

#paint {
  background-color:skyblue;
}
